body {
    background-color: gray;
}

div#pagina_principal {
    max-width: 380px;
    background-color: whitesmoke;
    min-height: 100vh;
    margin: 0 auto;  /*Margem de fora do conteiner.*/
}

header.cabecalho {
    height: 70px;
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figure img#logo {
    width: 150px;
    height: auto;
    position: relative;
    left: -40px;
}

.interacao a {
    text-decoration: none;
    padding: 1px;
}
nav.interacao a img {
    height: 24px;
}

nav button {
    background: none;
    border: none;
}


/*TABELA DO DROPDOWN*/
div.menu {
    display: none;
    position: absolute;
    background: beige;
    width: 380px;
    top: 50px;
    right: 0;
    text-align: left;
}


/*LINKS*/ 
div.menu a{
    display: block;
    padding: 5px;
    background: none;
    font-family: sans-serif;
}

div.menu a.politica {
    border-bottom: red solid 2px;
    color: red;
}

div.menu a.entretenimento {
    border-bottom: #eead2d  solid 2px;
    color: #eead2d;
}

div.menu a.geral {
    border-bottom: darkblue solid 2px;
    color: darkblue;
}

div.menu a.cvamarela {
    border-bottom: goldenrod solid 2px;
    color: goldenrod;
}

div.menu a.cvplay {
    border-bottom: black solid 2px;
    color: black;
}

div.menu a.economia {
    border-bottom: orange solid 2px;
    color: orange;
}

div.menu a.cidades {
    border-bottom: aqua solid 2px;
    color: aqua;
}

div.menu a.saude {
    border-bottom: greenyellow solid 2px;
    color: greenyellow;
}

div.menu a.picos {
    border-bottom: navy solid 2px;
    color: navy;
}

.dropdown-container {
    position: relative;
}

button.dropdown-container img {
    cursor: pointer;
    height: 24px;
}

button:hover{
    background: white;
}

/*CORES DOS BACKGROUNDS QUE CADA LINK DA LISTA QUANDO FOR CLICADO*/
div.menu a.politica:hover {
    background: rgba(255,0,0,0.3);
}

div.menu a.entretenimento:hover {
    background: rgba(255, 65, 0, 0.3);
}

div.menu a.geral:hover {
    background: rgba(0, 0, 65, 0.3);
}

div.menu a.cvamarela:hover {
    background: rgba(255, 65, 0, 0.3);
}

div.menu a.cvplay:hover {
    background: rgba(0, 0, 0, 0.3);
}




.dropdown-container:focus div.menu, .dropdown-container:focus-within div.menu {
    display: block;
}



