*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}


header#cabecalho {
    display: flex;
    background-color: rgb(241, 241, 241);
    height: 10vh;
}

header#cabecalho img#logocidade {
    width: 20vh;
    height: auto;
}

table#icones {
    padding-left: 13vh;
    border-collapse: separate;
    border-spacing: 3vh;
}

table#icones img{
    height: auto;
    width: 4vh;
}

section#corpo_pagina {
    padding-top:4vh;
    padding-inline: 3vh;
}

h1#noticiainicial a {
    text-decoration: none;
    color: black;
}

h1#noticiainicial a:hover {
    color: blue;
    text-decoration: none;
}